
/*LOGGED IN PAGE*/




html, body {
	position:static;
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	overflow-x:hidden;
	overflow-y:auto;
	background-image: url("/images/background.jpg");
	background-size: 100% 100%;

}
#map-canvas {
	width:100%;
	height:80%;
}
/*
#small-profile-pic {
	position:absolute;
	border-radius:100%;
	height:100px;
	width:100px;
	border:2px solid white;
}*/

.small-profile-pic {
	margin-left:auto;
	margin-right:auto;
	border:4px solid white;
	max-width:66%;
	}

.map-info-window {
	color:#C81717;

}

/*LAYOUT */

.footer {
	min-height:10%;
}

.footer-container {
	cursor:pointer;
	position:fixed;
	z-index: 110;
}
.footer-container-messaging {

	position:static;
	z-index: 110;
}


@media screen (min-width:1281px) {
	.footer-container {

		position: fixed;
		z-index: 110;
		line-height:6;
		width: 100%;
		top: 90%;
		height: 10%;
	}

	.footer-icon {
		font-size:1.7em;
		color:white;
		line-height:2.5;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}



.row-fluid > div {
	text-align:center;
}

@media screen and (orientation:portrait) and (min-width:320px) {
	.footer-icon {
		font-size:1.7em;
		color:white;
		line-height:2.5;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.footer-container {

		position: fixed;
		top: 90%;
		line-height:6;
		height: 10%;
		width: 100%;
	}
}

@media screen and (orientation:landscape) and (min-width:480px) {
	.footer-icon {
		font-size:1.7em;
		color:white;
		line-height:2.6;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.footer-container {

		position: fixed;
		top: 90%;
		height: 10%;
		line-height:6;
		width: 100%;
		overflow:hidden;
	}
}


/*USER TEMPLATE*/

#user-wrapper {
	height:80%;
	width:100%;
	padding-left:0px;
}

@media screen and (orientation:landscape) {
	#user-wrapper {
		height:80%;
		/*top:83%;*/
		width:100%;
		/*display:none;*/

	}
}

@media screen and (orientation:portrait) {
	#user-wrapper {
		height:80%;
		width:100%;

	}
}

/*DESTINATION PAGE*/

@media screen and (orientation:landscape) {
	#destination-wrapper {
		height:80%;
		width:100%;

	}
}

@media screen and (orientation:portrait) {
	#destination-wrapper {
		height:80%;
		width:100%;


	}
}
#destination-wrapper {
	height:80%;
	width:100%;

}

#destination-title {
	font-weight:300;
	font-size:30px;

}

/*Spinner*/

.spinner {
	margin-left:auto;
	margin-right:auto;
	padding-top:50%;
}


/*MARKER STUFF*/

@-moz-keyframes pulsate {
	from {
		-moz-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
	-moz-transform: scale(1.3);
	opacity: 0;
	}
	to {
		-moz-transform: scale(0.3);
		opacity: 0;
	}
}
@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
}

#map-canvas div.gmnoprint[title="My location"] {
	-moz-animation: pulsate 1.5s ease-in-out infinite;
	-webkit-animation: pulsate 1.5s ease-in-out infinite;
	border:1pt solid #fff;
	-moz-border-radius:51px;
	-webkit-border-radius:51px;
	border-radius:51px;
	-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	height:51px!important;
	margin:-18px 0 0 -18px;
	width:51px!important;
}

/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*  #map_canvas div[style*="987654"][title] img {*/
#map-canvas div.gmnoprint[title="My location"] img {
	display:none;
}
/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
	#map-canvas div.gmnoprint[title="My location"] {
		margin:-10px 0 0 -10px;
	}
}

/*LOGIN AND REGISTER PAGE*/

.btn:not(.btn-flat) {
	color:red;
}
@media screen and (orientation:portrait) {

	input {
		margin-bottom:5px;
	}

	#login-section, #register-section {
		
	}
}
@media screen and (orientation:landscape) {
	input {
		margin-bottom:5px;
	}
}

#account-info {
	margin-bottom:15px;
}

.button-container {
	padding-top:25%;
	padding-bottom:25%;
}

.form {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}

.btn {

	background-color:blue;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}

#form-not-filled-warning-anim {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#call-to-action, #call-to-login {
	font-size:0.9em;
}

/*DESTINATIONS PAGE*/

@media screen and (orientation:portrait) {
	#hki-destinations {
		height:40px;
	}
	#hk-island-destinations {
		margin-top:15%;
	}
	#destination-submit {
		margin-top:10%;
	}

	#destination-map {
		width: 100%;
		height: 150px;
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (orientation:landscape) {
	#hki-destinations {
		height:40px;
	}
	#hk-island-destinations {
		margin-top:2%;
	}
	#destination-submit {
		margin-top:2%;
		height:30px;
		width:200px;
	}

	#destination-map {
		width: 450px;
		height: 100px;
		position: relative;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
	}
}


/*CONTENT WRAPPER*/
#content {
	width:inherit;
	height:inherit;

}

/*TRANSITIONS*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

/*USER PROFILE PAGE*/

#settings, #messaging {
	position:relative;
	/*left:100%;*/
	display:none;
	top:5%;
	height:100%;
	width:100%;
	z-index:100;
	-webkit-transform: translate3d(0px,0px,0px);

}

.top-right-button {
	top:9%;
	right:2%;
}

.header-text {
	color:white;
	font-weight:300;
	padding-left:15px;
	padding-right:8px;
	padding-bottom:8px;
}

.settings-h2s {
	font-weight:300;
	font-size:1em;
	line-height:2;
	margin-bottom:10%;
	margin-top:0px;
}

.form-control-wrapper .material-input:before {
	background-color: #C81717;
}

.form-control {
	color:#000;
}


@media screen and (orientation:portrait) and (min-height:410px) {
	.header {
		min-height:10%;
	}
}

.header {
	position:relative;
	width: 100%;
}
@media screen and (orientation:portrait) and (max-height: 409px) {
	.header {
		min-height:16%;
	}
}

#profile-picture {
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	border:4px solid white;
	max-width:70%;
}

.sub-header, #status {
	font-weight:300;
	text-align:center;
}


#logout {
	margin-right:auto;
	margin-left:auto;
	max-width:100%;
}

.profile-form {
	margin-top:30px;
}
.form-horizontal {
	margin-left:auto;
	margin-right:auto;
}
/*DESTINATION*/


a.matched-user:link,
a.matched-user:hover,
a.matched-user:active,
a.matched-user:visited {
	text-decoration: none;
	font-color:#F3F3D5;
	font-family: 'Roboto', sans-serif;
	font-weight:600;
}

/*MATCHING USER WRAPPER*/

.standard-button {
	color:red;
	border:1px solid rgb(195, 195, 102);
}

#matching-user-wrapper {
	height:80%;
	width:100%;
	padding-left:0px;

}
.matched-user-headers {
	font-weight:300;
	font-size:30px;
}

.no-left-padding {
	padding-left:0;
}
.following-people {
	font-weight:300;
	font-size:30px;
}

.user-name {
	font-weight:200;
}

/*MESSAGING*/
#messaging-wrapper {
	height:90%;
	width:100%;
	padding-left:0px;
}

#messaging {
	top:13%;
	height:76%;
}

.conversation-area {
	text-align:left;
}

.conversation-list {
	position: relative;
	color: white;
	list-style-type: none;
	margin: 0% 2% 2% 6%;
	padding: 1% 1% 1% 1%;
	font-size: 1.7em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow: 
	  0 1px 2px #fff, /*bottom external highlight*/
	  0 -1px 1px #666, /*top external shadow*/ 
	  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
	  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.conversation-list > p {
	font-size:0.7em;
	padding: 3% 1% 1% 1%;
	overflow-wrap: break-word;
}

.user-name {
	position:relative;
	margin-left:5px;
}

.last-message {
	position:absolute;
	bottom:0px;
	right:4px;
	font-size:0.5em;
	vertical-align: bottom;
}

a, a:visited, a:hover {
	color:white;
	text-decoration: none;
}

/*conversations*/

.message-area {
	background-color: rgb(243, 243, 213);
	margin-top: 2%;
}

.message-content {
	padding-top: 5px;
	padding-left: 5px;

}

.keyboard-hack {
	margin-top:-12%;
}

.scrollable {
	overflow: auto;
	max-height: 83%;
}

::-webkit-scrollbar { 
    display: none; 
}