// Import Vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less";

// Sites
@import "sites/home.import.less";

@main-background-colour: #F3F3D5; /*cream*/
@header-footer-colours: #C81717; /*red*/

.material-shadow {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header, .footer-container {
  background-color:@header-footer-colours;
}

html,body,.map-info-window,#user-wrapper,#destination-wrapper,.btn:not(.btn-flat),#settings,#messaging,.standard-button,#matching-user-wrapper,#messaging-wrapper {
  background-color:@main-background-colour;
}


.small-profile-pic, .map-info-window, #destination-map, .header {
  .material-shadow
}