<template name="destinationPage">
  <div class="header">
      <h1 class="header-text pull-left flipInY animated" id="destination-h1">Trip Tab</h1>
  </div>
  {{>mapTemplate}}
  <div id="destination-wrapper" class="container-fluid slide-up">
    <div class="row-fluid">
      <div class="col-xs-12">
        <h1 id="destination-title" class="sub-header">
          Where do you want to go?
        </h1>
        
      </div>
    </div>
    <div id="hk-island-destinations" class="row-fluid">
      <div class="col-md-12">
        {{>hkIslandDestinations}}
        <button id="destination-submit" type="submit" button="" class="btn btn-raised" value="Logout">Submit</button>
      </div>
    </div>
  </div>
</template>