<template name="hkIslandDestinations">
     <select name="hki-destinations" id="hki-destinations" class="form-control">
             
               <option value="Aberdeen">Aberdeen</option>
               <option value="Admiralty">Admiralty</option>
               <option value="Ap Lei Chau">Ap Lei Chau</option>
               <option value="Causeway Bay">Causeway Bay</option>
               <option value="Central">Central</option>
               <option value="Chai Wan">Chai Wan</option>
               <option value="Chung Hom Kok">Chung Hom Kok</option>
               <option value="Fortress Hill">Fortress Hill</option>
               <option value="Happy Valley">Happy Valley</option>
               <option value="Hei Ling Chau">Hei Ling Chau</option>
               <option value="Jardine's Lookout">Jardine's Lookout</option>
               <option value="Kennedy Town">Kennedy Town</option>
               <option value="Lamma Island">Lamma Island</option>
               <option value="Mid-Levels">Mid-Levels</option>
               <option value="Mount Davis">Mount Davis</option>
               <option value="North Point">North Point</option>
               <option value="Yuen Long Town">Yuen Long Town</option>
               <option value="Peng Chau">Peng Chau</option>
               <option value="Pok Fu Lam">Pok Fu Lam</option>
               <option value="Quarry Bay">Quarry Bay</option>
               <option value="Repulse Bay">Repulse Bay</option>
               <option value="Sai Wan">Sai Wan</option>
               <option value="Sai Wan Ho">Sai Wan Ho</option>
               <option value="Sai Ying">Sai Ying Pun</option>
               <option value="Shau Kei">Shau Kei Wan</option>
               <option value="Shek O">Shek O</option>
               <option value="Shek Tong Tsui">Shek Tong Tsui</option>
               <option value="Shouson Hill">Shouson Hill</option>
               <option value="Siu Sai Wan">Siu Sai Wan</option>
               <option value="So Kon Po">So Kon Po</option>
               <option value="Stanley">Stanley</option>
               <option value="Tai Koo">Tai Koo</option>
               <option value="Tai Tam">Tai Tam</option>
               <option value="Taikoo Shing">Taikoo Shing</option>
               <option value="The Peak">The Peak</option>
               <option value="Tin Hau">Tin Hau</option>
               <option value="Wan Chai Gap">Wan Chai Gap</option>
               <option value="Wan Chai">Wan Chai</option>
               <option value="Western District">Western District</option>
               <option value="Wong Chuk Hang">Wong Chuk Hang</option>
               <option value="Wong Nai Chung Gap">Wong Nai Chung Gap</option>
     
        </select>
</template>