<template name="landingTemplate">
  <div id="login-section" class="container-fluid login-section">
    <div class="row-fluid">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8 button-container" style="height:90%">
        <form id="login-form">
          <div class="col-xs-12">
          </div>
          <button id="facebook-login-button" type="submit" button class="btn btn-primary-raised" value="Login">LOGIN / SIGNUP</button>
        </form> 
        <div class="col-xs-12"></div> 
      </div>

      <div class="col-xs-2">
      </div>
    </div>
  </div>
</template>