<template name="landingTemplate">
  <div id="login-section" class="container-fluid login-section">
    <div class="row-fluid">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8 button-container" style="height:90%">
        <form id="login-form">
          <div class="col-xs-12">
            <input type="email" placeholder="Email" id="login-email">
            <input type="password" placeholder="Password" id="login-password">
            
          </div>
          <button id="login-button" type="submit" button class="btn btn-primary-raised" value="Login">LOGIN</button>
        </form> 

        <h1 id="call-to-action">Don't have an account yet? <a id="register-link" href="{{pathFor 'register'}}"> Sign Up!</a></h1>
        <div class="col-xs-12"></div> 
      </div>

      <div class="col-xs-2">
      </div>
    </div>
  </div>
</template>