<template name="loggedIn">

<div id="map-canvas"></div>
    <div class="footer-container">
      <footer class="footer">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-xs-3"><i id="user-icon" class="fa fa-user footer-icon"></i></div>
            <div class="col-xs-3"><i id="trips-icon" class="fa fa-car footer-icon"></i></div>
            <div class="col-xs-3"><i id="friends-icon" class="fa fa-users footer-icon"></i></div>
            <div class="col-xs-3"><i id="feedback-icon" class="fa fa-star-half-o footer-icon"></i></div>
          </div>
        </div>
      </footer>
    </div>
{{>userPage}}
{{>destinationPage}}
</template>