<template name="messaging">

  <div class="header">
    <h1 class="header-text">Messages</h1>
    <button id="settings-button" class="btn btn-fab pull-right"><i class="fa fa-envelope"></i></button>
  </div>
  <div id="messaging-wrapper" class="container-fluid slide-up">
    <div class="row-fluid">
      <div class="col-xs-6">
        <h2 class="sub-header">Sent:</h2>
        {{#each sentMessages}}
          <li>{{>sentMessage}}</li>
        {{/each}}
      </div>
      <div class="col-xs-6">
        <h2 class="sub-header">Received:</h2>
        {{#each receivedMessages}}
          <li>{{>receivedMessage}}</li>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="sentMessage">
  <p>{{messageContent}}</p>
</template>

<template name="receivedMessage">
  <p>{{messageContent}}</p>
</template>