<template name="messaging">

  <div class="header">
    <h1 class="header-text pull-left flipInY animated" id="messaging-h1">Messages</h1>
    <button id="messaging-button" class="top-right-button btn btn-fab pull-right"><i class="fa fa-envelope"></i></button>
  </div>
  <div id="messaging-wrapper" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 conversation-area">
        <h2 class="sub-header pull-left">Conversations</h2>
      </div>
<!--       <div class="col-xs-6">
        <h2 class="sub-header">Received:</h2>
        {{#each receivedMessages}}
          <li>{{>receivedMessage}}</li>
        {{/each}}
      </div> -->
    </div>
    <div class="row">
        {{#each activeConversations}}
          <li class="conversation-list">{{>conversations}}</li>
        {{/each}}     
    </div>
  </div>
</template>

<template name="conversations">
  <p class="user-name">{{this}}

  <span class="last-message pull-right">{{conversationContent}}</span></p>
</template>

<template name="sentMessage">
  <p>{{messageContent}}</p>
</template>

<template name="receivedMessage">
  <p>{{messageContent}}</p>
</template>