<template name="messaging">
  <div class="header">
    <h1 class="header-text pull-left flipInY animated" id="messaging-h1">Messages</h1>
    <button id="messaging-button" class="top-right-button btn btn-fab pull-right"><i class="fa fa-envelope"></i></button>
  </div>
  <div id="messaging-wrapper" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 conversation-area">
        <h2 class="sub-header">Conversations</h2>
      </div>
    </div>
    <div class="row">
      {{#each arrayify currentConversations.conversationInformation}}
        <a href="/messaging/{{value._id}}">
          <li class="conversation-list">
            <p class="user-name">{{value.otherParty}}
            </p>
            <span class="last-message pull-right">
              <p>{{value.lastMessage}}</p>
            </span>
          </li>
        </a>
      {{else}}
        <li class="conversation-list">You haven't had any messages yet!</li>
      {{/each}}
    </div>
  </div>
</template>