<template name="userPage">
  <div id="user-wrapper" class="container-fluid slide-up">
    <div class="row-fluid">
      <div class="col-md-12">
        <h1>
          {{displayUser}}
        </h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    {{> Input type='email' placeholder='Email'}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    {{> Input type='password' placeholder='Password'}}
                    {{> Checkbox label='Checkbox'}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">File</label>
                <div class="col-lg-10">
                    {{> FileInput multiple=true accept='.mp3,.wav' placeholder='Select only mp3 and wav files...'}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Textarea</label>
                <div class="col-lg-10">
                    {{> TextArea rows=3}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Radios</label>
                <div class="col-lg-10">
                    {{> Radio name='radioGroup' value='option1' label='Option one' checked=true}}
                    {{> Radio name='radioGroup' value='option2' label='Option two'}}                                
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Selects</label>
                <div class="col-lg-10">
                    {{#Select}}
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    {{/Select}}
                    <br>
                    {{#Select multiple=true}}
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    {{/Select}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-flat">Cancel</button>
                    <button class="btn btn-flat btn-primary">Submit</button>
                </div>
            </div>
        </form>  
      </div>
      <div class="col-xs-8">
      </div>
    </div>
  </div>
</template>