<template name="userPage">
  <div class="header">
      <h1 id="user-h1">Hey {{displayUser}}!</h1>
      <i id="settings-icon" class="fa fa-cog fa-fw pull-right"></i>
  </div>
  <div id="user-wrapper" class="container-fluid slide-up">
    <div class="row-fluid">
      <div id="settings" class="col-xs-12">
        <button class="btn btn-flat btn-primary" id="logout">Log Out</button>
      </div>
<!--       <div class="col-xs-0">
      </div>
      <div class="col-xs-8">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-10">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-lg-2 control-label profile-form">About me</label>
                  <div class="col-lg-10">
                    <div class="form-control-wrapper">
                      <textarea class="form-control empty"  id="bio" rows="3" placeholder="Your bio goes here!"></textarea>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <button class="btn btn-flat btn-primary" id="submit">SUBMIT</button>
          </div>
        </form>  
      </div>
      <div class="col-xs-4">
        <h1 id="user-h1">
          {{displayUser}}
        </h1>

      </div> -->
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <img id="profile-picture" src={{profilePicture}}> 

        <h2 id="status">Say a few words...</h2>

        <div class="form-control-wrapper">
            <input name="a-normal-input" class="form-control empty" id="bio">
            <span class="material-input"></span>
        </div>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div>
</template>

                
                